.right-cards #content img.hobby-store {width:100%; height: 280px;}
.trending-bx-viewport.trendViewport{width: 989px; overflow: hidden; overflow-x: auto; position: absolute; height: 407px; float: left; left: 298px}
.firstprobanner .superAnchar img{ width: 100%; height: 100%;display: block;}
.bestSeller.bstSeller{width:100%; height:857px; background:#ffffff; margin-bottom:40px; position: relative; left: 0; top: 0;}
.righticonimages img.rghtIconImg{width:100%;height:300px; display: block;}
.downloadAppIcons img.dwnLdIcn{width: 430px; height: 462px; display:block;}
.content-footer.footerStyle{background:#ffffff; width:100%; height:232px;  border-bottom: 1px solid #e2e2e2;}

.lgSection{width: 24%; float: left; line-height: 20px;}

.footerDiv{width:100%; height:100px; background:#ffffff;}
.bottomfooterimg .fa-facebook {font-size: 2rem; color: #39579A; padding-right: 15px;}
.bottomfooterimg .fa-twitter {font-size: 2rem; color: #059FF5; padding-right: 15px;}
.bottomfooterimg .fa-google-plus-official {font-size: 2rem; color: #DC4E41; padding-right: 15px;}
.bottomfooterimg .fa-youtube-play {font-size: 2rem; color: #E91D00; padding-right: 15px;}
.bottomfooterimg .fa-instagram {font-size: 2rem; color: #4B7EA7; padding-right: 15px;}
.bottomfooterimg .fa-pinterest {font-size: 2rem; color: #CE4655; padding-right: 15px;}

@media (min-width: 1200px){
.container {max-width: 1600px;padding-right: 0px;padding-left: 0px;}
}